.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.item img {
  width: 100%;
}
